body{
    font-family: 'Nanum Gothic', sans-serif;
}
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header .full {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}


header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}



.remote {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 1rem;
    background-color: #000;
    opacity: 0.6;
    color: #fff;

}

#remote-videos video {
    float: left;
   
    border: 2px solid #fff;
    margin-right: 1rem;
    max-height: 80px;

    object-fit: cover;

}

.local {
   

}

.hide {
    display: none;
}

.local video {
    float: left;
    margin-right: 1rem;
    max-width: 80px;
    border: 2px solid #fff;
    transform: rotateY(180deg);    
}

.controls{
    position: absolute;
    bottom: 1rem;
    z-index: 200;
    left: 1rem;
    color: #fff;
    width:180px;
    height:100px;
    
}

.controls span.badge {
    float: right;
    position: absolute;
    z-index: 100;
    /* right: 0; */
    bottom: 60;
    margin-left: 20px;
}



.controls i {
 
    opacity: 0.7;
    cursor:pointer;
}



#chatmessages mark {
    margin-right: 1rem;
}

.custom-heading{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

.our-brand{
    position: absolute;
    top:1rem;
    right:1rem;
    padding: 1rem;
    z-index: 100;
    color: #fff;
}

#file-form{

    position: absolute;
    z-index: 200;
}