body{
    font-family: 'Nanum Gothic', sans-serif;
}
main {
    position: relative;
    background-image: url(../img/bg_defult.png);    
    background-size: cover;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

main .full {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

main .container {
    position: relative;
    z-index: 2;
}


main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.chat {
    opacity: 0.95;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

}


.remote {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

}


.hide {
    display: none;
}

.local video {
    float: left;
    margin-right: 1rem;
    max-width: 80px;
    border: 2px solid #fff;
    transform: rotateY(180deg);    
}

.controls{
    position: absolute;
    bottom: 0px;
    float:left;
    z-index: 200;
    color: #fff;
    background: rgba(0,0,0,0.7);;
 
    
}

.controls span.badge {
    float: right;
    position: absolute;
    z-index: 100;
    /* right: 0; */
    bottom: 60;
    margin-left: 20px;
}



.controls i {
 
    opacity: 0.7;
    cursor:pointer;
}



#chatmessages mark {
    margin-right: 1rem;
}

.custom-heading{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

.our-brand{
    position: absolute;
    top:1rem;
    right:1rem;
    padding: 1rem;
    z-index: 100;
    color: #fff;
}

#file-form{

    position: absolute;
    z-index: 200;
}

.video-grid {
    position: relative;
    height: auto;
}



.video-grid ul {

    list-style: none;
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;

}

.video-grid ul li {
    margin: 0;
    padding: 0;
    perspective: 720px;
    position: relative;
    display: block;
    overflow: hidden;
  

}

.video-grid ul li video {
    position: absolute;
    left: 50%;
    /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%);
    /* % of current element */

}


li:first-child:nth-last-child(1) {
    /* -or- li:only-child { */
    width: 100%;
}

/* two items */
li:first-child:nth-last-child(2),
li:first-child:nth-last-child(2)~li {
    width: 50%;
    height: 100%;
}

/* three items */
li:first-child:nth-last-child(3),
li:first-child:nth-last-child(3)~li {
    width: 50%;
    height: 50%;
}

/* four items */
li:first-child:nth-last-child(4),
li:first-child:nth-last-child(4)~li {
    width: 50%;
    height: 50%;
}

li:first-child:nth-last-child(5),
li:first-child:nth-last-child(5)~li {
    width: 50%;
    height: 33%;
}

li:first-child:nth-last-child(6) li:first-child:nth-last-child(6)~li {
    width: 50%;
    height: 33%;
}

li:first-child:nth-last-child(7),
li:first-child:nth-last-child(7)~li {
    width: 33%;
    height: 33%
}

li:first-child:nth-last-child(8),
li:first-child:nth-last-child(8)~li {
    width: 33%;
    height: 33%
}

li:first-child:nth-last-child(9),
li:first-child:nth-last-child(9)~li {
    width: 33%;
    height: 33%
}

.fullscreen {
    color: #fff;
    position: absolute;
    z-index: 1000;
    margin: 1rem;
}