body {
    font-family: 'Nanum Gothic', sans-serif;
}


.right{
    float: right;
}

main {
    position: relative;
    background-image: url(../img/background.jpg);
    background-size: cover;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

main .full {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

main .container {
    position: relative;
    z-index: 2;
}

main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.chat {
    opacity: 0.95;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.remote {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.hide {
    display: none;
}

.local {
    position: absolute;
    bottom: 80px;
    right: 1rem;
    z-index: 2000;
}

.local video {
    right: 0;
    float: left;
    margin: 1rem;
    max-height: 100px;
    border: 2px solid #333;
    cursor: pointer;
}
.local video:hover {
    right: 0;
    float: left;
    margin: 1rem;
    max-height: 100px;
    border: 2px solid #eee;
    cursor: pointer;
}


.local:first-child {
    transform: rotateY(180deg);
}

.controls {
    position: absolute;
    bottom: 0px;
    float: left;
    z-index: 1200;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    ;
}

.controls i {
    cursor: hand;
}

.controls i:hover {
    color: #fff;
}

.controls span.badge {
    float: right;
    position: absolute;
    z-index: 100;
    /* right: 0; */
    bottom: 40;
    margin-left: 20px;
}

.controls i {
    opacity: 0.7;
    cursor: pointer;
}

#chatmessges div {
    padding: 0.5rem;
}
#chatmessages div mark {
    padding: 0.5rem;
}


#chatmessages div time {

    padding: 0.5rem;
}

#chatmessages div span {
    padding: 0.5rem;
}


.custom-heading {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

.our-brand {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    padding: 1rem;
    z-index: 100;
    color: #fff;
}

.top-bar {
    position: absolute;
    top: 0rem;
    width: 100% !important;
    padding: 1em;
    z-index: 8;
    background: rgba(0, 0, 0, 0.7);
}

.top-bar i {
    color: #fff;
    margin-right: 16px;
    cursor: pointer;
}

#file-form {
    position: absolute;
    z-index: 200;
}

.video-grid {
    position: relative;
    height: auto;
}

.video-grid ul {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.video-grid ul li {
    margin: 0;
    padding: 0;
    perspective: 720px;
    position: relative;
    display: block;
    overflow: hidden;
}

.video-grid ul li video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%);
    /* % of current element */
}

.video-grid li:first-child:nth-last-child(1) {
    /* -or- li:only-child { */
    width: 100%;
}

/* two items */

.video-grid li:first-child:nth-last-child(2), .video-grid li:first-child:nth-last-child(2)~li {
    width: 50%;
    height: 100%;
}

/* three items */

.video-grid li:first-child:nth-last-child(3), .video-grid li:first-child:nth-last-child(3)~li {
    width: 50%;
    height: 50%;
}

/* four items */

.video-grid li:first-child:nth-last-child(4), .video-grid li:first-child:nth-last-child(4)~li {
    width: 50%;
    height: 50%;
}

.video-grid li:first-child:nth-last-child(5), .video-grid li:first-child:nth-last-child(5)~li {
    width: 50%;
    height: 33%;
}

.video-grid li:first-child:nth-last-child(6).video-grid  li:first-child:nth-last-child(6)~li {
    width: 50%;
    height: 33%;
}

.video-grid li:first-child:nth-last-child(7),.video-grid  li:first-child:nth-last-child(7)~li {
    width: 33%;
    height: 33%
}

.video-grid li:first-child:nth-last-child(8), .video-grid li:first-child:nth-last-child(8)~li {
    width: 33%;
    height: 33%
}

.video-grid li:first-child:nth-last-child(9), .video-grid li:first-child:nth-last-child(9)~li {
    width: 33%;
    height: 33%
}

.video-tools {
    position: absolute;
    z-index: 1000;
    margin-top: 80px;
    margin-left: 20px;
}

.video-tools i {
    margin-right: 10px;
    z-index: 1000;
    margin: .5rem;
}

.white {
    color: #fff;
}

.red,.record {
    color: #ff0000;
}

i.fa-lock {
    color:#ff0000;
}

.flash {
    animation: blinker 1s linear infinite;
}

.blur {
    filter: blur(20px);
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#dungeon-messages {
    position: relative;
    top: -20px;
    left: -20px;
}

.dungeon-thumbs canvas {
    max-width: 120px;
}

.dungeon-paricipant {
    border: 2px solid #ff0000;
    filter: none;
}

.dungeons {
    position: absolute;
    z-index: 9;
    width: 400px;
    height: auto;
    opacity: 0.7;
    background: #000;
    top: 130px;
    left: 1rem;
    padding: 1rem;
}

.dungeons-focus {
    background: red
}

.dungeon-header {
    height: 2rem;
    width: 100% !important;
}

.dungeon-header i {
    float: right;
}

.dungeon {
    width: 100%;
    color: #fff;
}

.dungeon ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.dungeon li {
    float: left;
    width: 33%;
    height: 100px;
    overflow: hidden;
    padding: 2px;
}

.dungeon img {
    width: 100%;
    height: auto;
}

.toasters {
    position: absolute;
    top: 80px;
    right: 10px;
    z-index: 10000
}

#quick-start-containe.modal-box {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 99999;
    padding: 50px;
}


.greenscreen-option
{
    max-width: 100%;
}

#palette{
    font-size: 1.2rem;
    color: #000;
}

.detected-color {
    cursor: pointer;
}

.greenscreen-optimal{
    background-color:#009933;
    color:#fff;
}
